*   @jacobtomlinson
dask_kubernetes/operator/customresources/  @jacobtomlinson @bstadlbauer

# Go operator
go.mod  @jacobtomlinson @bstadlbauer
go.sum  @jacobtomlinson @bstadlbauer
dask_kubernetes/operator/go_client/  @jacobtomlinson @bstadlbauer
