recursive-include dask_kubernetes *.py
recursive-include dask_kubernetes *.yaml

include setup.py
include setup.cfg
include LICENSE
include README.rst
include requirements.txt
include MANIFEST.in
include versioneer.py

recursive-exclude * __pycache__
recursive-exclude * *.py[co]
