version: 2

jobs:
  build:
    machine: true
    environment:
      CHANGE_MINIKUBE_NONE_USER: true
    environment:
      PYTHON: "3.6"
      ENV_NAME: "dask-kubernetes-test"
    steps:
      - checkout
      - run:
          command: |
            curl -Lo kubectl https://storage.googleapis.com/kubernetes-release/release/v1.8.4/bin/linux/amd64/kubectl && chmod +x kubectl && sudo mv kubectl /usr/local/bin/
      - run:
          command: |
            curl -Lo minikube https://storage.googleapis.com/minikube/releases/latest/minikube-linux-amd64 && chmod +x minikube && sudo mv minikube /usr/local/bin/
      - run:
          command: |
            sudo minikube start --vm-driver=none
      - run:
          command: |
            sudo minikube update-context
      - run:
          command: |
            JSONPATH='{range .items[*]}{@.metadata.name}:{range @.status.conditions[*]}{@.type}={@.status};{end}{end}'; until sudo kubectl get nodes -o jsonpath="$JSONPATH" 2>&1 | grep -q "Ready=True"; do sleep 1; done
      - run:
          command: |
            sudo kubectl cluster-info
      - run:
          command: |
            sudo kubectl run circleci-example --image=nginx
      - run:
          command: |
            sudo kubectl get deployment
      - restore_cache:
          keys:
            - miniconda-v1-{{ checksum "ci/environment-3.6.yml" }}
      - run:
          name: install miniconda
          command: |
              if [ ! -d "/home/circleci/miniconda" ]; then
                wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh
                bash miniconda.sh -b -p $HOME/miniconda
                export PATH="$HOME/miniconda/bin:$PATH"
                conda config --set always_yes yes --set changeps1 no
              fi
              sudo chown -R $USER.$USER $HOME
      - run:
          name: configure conda
          command: |
              export PATH="$HOME/miniconda/bin:$PATH"
              if [ ! -d "/home/circleci/miniconda/envs/dask-kubernetes-test" ]; then
                conda update -q conda
                conda env create -f ci/environment-${PYTHON}.yml --name=${ENV_NAME}
                source activate ${ENV_NAME}
                pip install --no-deps --quiet -e .
              fi
              conda env list
              conda list ${ENV_NAME}
      - save_cache:
          key: miniconda-v1-{{ checksum "ci/environment-3.6.yml" }}
          paths:
            - "/home/circleci/miniconda"
      - run:
          command: |
            /home/circleci/miniconda/envs/dask-kubernetes-test/bin/py.test dask-kubernetes -s --verbose --worker-image daskdev/dask:0.17.1
      - run:
          command: |
            /home/circleci/miniconda/envs/dask-kubernetes-test/bin/flake8 dask-kubernetes
