name: "KubeCluster"
on:
  pull_request:
    paths:
      - ".github/workflows/kubecluster.yaml"
      - "requirements*"
      - "ci/**"
      - "dask_kubernetes/classic/**"
      - "dask_kubernetes/common/**"
      - "dask_kubernetes/*"
  push:
    paths:
      - ".github/workflows/kubecluster.yaml"
      - "requirements*"
      - "ci/**"
      - "dask_kubernetes/classic/**"
      - "dask_kubernetes/common/**"
      - "dask_kubernetes/*"

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.9", "3.10"]
        kubernetes-version: ["1.27.0"]
        include:
        - python-version: "3.10"
          kubernetes-version: "1.24.13"
        - python-version: "3.10"
          kubernetes-version: "1.25.9"
        - python-version: "3.10"
          kubernetes-version: "1.26.4"

    env:
      KUBECONFIG: .pytest-kind/pytest-kind/kubeconfig

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install deps
        run: ./ci/install-deps.sh
      - name: Run tests
        env:
          KUBERNETES_VERSION: ${{ matrix.kubernetes-version }}
        run: pytest dask_kubernetes/common/tests dask_kubernetes/classic/tests
      - name: Debug k8s resources
        if: success() || failure()
        run: kubectl get all -A
