name: "Lint"
on: [pull_request, push]

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: "3.10"
      - name: Install deps
        run: ./ci/install-deps.sh
      - uses: pre-commit/action@v3.0.1
